<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.KarryCode.mapper.AdminMapper">

    <update id="updateAdminSelective">
        update car_rental4.admin
        <set>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="password !=null and password != ''">
                password = #{password},
            </if>
            <if test="id != null">
                id = #{id},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>